<div class="d-flex justify-content-center m-4">
<h1>Add a new restaurant</h1>
</div>

<div class="d-flex justify-content-center m-4">
<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.submit %>
<% end %>
</div>

<div class="d-flex justify-content-center m-4">
<%=  link_to "Back to overview", restaurants_path %>
</div>
