<div class="d-flex justify-content-center m-4">
<h1>Add a new review</h1>
</div>
<div class="d-flex justify-content-center">
<%= form_for [@restaurant, @review] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit %>
<% end %>
</div>
<div class="d-flex justify-content-center">
<%=  link_to "Back to overview", restaurants_path %>
</div>
